@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rokkitt:wght@700&display=swap");

@font-face {
    font-family: kingthings-light;
    src: url("font/kingthings-petrock.light.ttf");
}

@font-face {
    font-family: kingthings-regular;
    src: url("font/kingthings-petrock.regular.ttf");
}

* {
    font-family: "Lato", sans-serif;
}

body {
    background-image: url(coverbg.png);
    
    display: none;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

body.active {
    display: block;
}

.wrapper {
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    animation: start 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
}

body::after {
    content: 'Rolegames';
    font-family: kingthings-regular;
    position: fixed;
    width: 100%;
    opacity: 0;
    top: 33vh;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15vw;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
    animation: fadeOut 4s ease-in;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

ul {
    margin: 0;

}


ul li a {
    background-color: #18181a5b;
    backdrop-filter: grayscale(1);
    z-index: -1;

}

ul li a:active {cursor: grab;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

a.selected {
    transform: translateX(15px);
}

a {
    text-decoration: none;
}

.offers-items {
    min-height: 90vh;
}

li {
    list-style-type: none;
}

.offers-items {
    display: grid;
    grid-template-columns: 20% 80%;
}

.offers-items-nav a {
    line-height: 1.3;
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    z-index: 5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.offers-items-nav a>div {
    padding: 30px 30px 20px 10px;
}

.offers-items-nav a span {
    display: block;
    font-size: 0.7em;
    text-transform: none;
}

.offers-items-nav a::after {
    background: #c90000;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    content: "";
    height: 0px;

    transition: all 0.2s ease-in-out;
    transition-delay: 0.3s;
}

.offers-items-nav a.selected::after {
    height: 100%;
}


.offers-items-nav a::before {
    bottom: 0;
    height: 3px;
    position: absolute;
    content: "";
    width: 0;
    background-color: #c90000;
    transition: all 0.3s ease-in-out;

}

.offers-items-nav a.selected::before {
    width: 100% !important;
}

ul:hover li a:hover, ul li a:focus {
    transform: translateX(15px);
}

.offers-items-container {
    position: relative;
}

.offers-item {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background: #f6f6f6;
    width: 70%;
    min-width: 560px;
    border: 1px solid #dcdcdc;
    animation: slideOut .5s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: block;
}

ul {
    padding: 0;
}


.offers-item.selected {
    animation: slideDown .5s ease-in;
    animation-fill-mode: backwards;
}

.offers-item.start {
    display: none;
}

.sticky {
    position: sticky;
    top: 25%;
}

a>div {
    pointer-events: none;
}

@keyframes slideDown {
    0% {
        opacity: 0.2;
        scale: 1.5;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        scale: 0.5;
        transform: translateY(100%);
    }
}

@keyframes start {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.card {


    display: flex;
    align-items: center;
    flex-flow: column;
}

.card #content {
    display: grid;
    grid-template-columns: 400px auto;
}

.card #content .picture {
    width: 400px;
    height: 400px;
    background-image: url(cover.jfif);
    background-size: cover;
}

.card #content .text {
    padding-left: 15px;
}

.screen {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background: #c90000;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.screen::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #000;
    transition: 0.2s ease-in-out;
    z-index: 1;
    transition-delay: .3s;
}

.screen.active,
.screen.active::after {
    height: 100vh;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: contrast(85%) blur(5px);
    ;
    scale: 1.1;
    object-fit: cover;
}


@media screen and (max-width: 900px) {

    body{
        min-height: 100vh;;
    }
    video {
        display: none;
    }

    .wrapper {
        width: 90%;
    }

    .offers-items {
        display:none;
        grid-template-columns: 1fr;
    }

    .offers-items-nav {
        display: none;
    }

    .offers-item {
        
        min-width: auto;
        position:static;
    }

    .card #content{
        display: flex;
        flex-flow: column;
    }

    .card #content .picture{
        width:100%;
        object-fit: cover;
    }

    .sticky {
        display:block;
        top:0;
    }
}


.offers-items-container:has(.start) .sticky::after {
    content: 'Choose game';
    position: absolute;
    width: 70%;
    height: 405px;
    background: #18181a5b;
    top: 9.3%;
    left: 0;
    margin: 0 auto;
    right: 0;

    display:flex;
    align-items:center;
    justify-content: center;

    font-size:3rem;
    color:#eeeeee77;
}

.play{
    background: transparent;
    border: 1px solid #222;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 100px;
    cursor: pointer;

    margin-top:1em;
}
